/* connecting Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./variables.scss');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

/* dark theme */
html, body {
    background-color: var(--lt-clr-background);
    color: var(--lt-clr-text);
    margin: 0;
    padding: 0;
}

body {
    padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--lt-clr-accent);
    margin: 0;
}

a {
    color: var(--lt-clr-link);
    font-weight: bold;

    &:hover {
        color: var(--lt-clr-accent);
    }
}

h1 {
    font-size: 36px;
    font-weight: bold;

    margin-top: 0.5rem;
}

h2 {
    font-size: 24px;
    font-weight: bold;

    margin-top: 0.5rem;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

h6 {
    font-size: 8px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

button {
    background-color: var(--lt-clr-accent);
    border: none;
    color: var(--lt-clr-text-dark);
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem 48px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--lt-clr-accent-dark);
    }

    @media screen and (max-width: 768px) {
        font-size: 0.75rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 0.5rem;
    }
}

input {
    border: 1px solid var(--lt-clr-accent);
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 16px;
    color: var(--lt-clr-text);

    background: var(--lt-clr-background-dark);

    @media screen and (max-width: 768px) {
        font-size: 0.75rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 0.5rem;
    }

    &::placeholder {
        color: var(--lt-clr-text-50);
    }
}

textarea {
    border: 1px solid var(--lt-clr-accent);
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 16px;
    color: var(--lt-clr-text);

    background: var(--lt-clr-background-dark);

    @media screen and (max-width: 768px) {
        font-size: 0.75rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 0.5rem;
    }

    &::placeholder {
        color: var(--lt-clr-text-50);
    }
}

label {
    font-size: 20px;
    color: var(--lt-clr-text);
    padding: 0.5rem 0;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;

    border-top: 1px solid var(--lt-clr-accent);
    padding-top: 0.5rem;

    @media screen and (max-width: 768px) {
        font-size: 0.75rem;
    }
}

.block {
    display: block;

    border-top: 1px solid var(--lt-clr-accent);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 48px;

    th, td {
        border: 2px solid var(--lt-clr-accent);
        padding: 0.5rem;
    }

    th {
        font-weight: bold;
        text-align: center;

        font-size: 1.25rem;
    }

    td {
        text-align: start;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 400px;

    margin: 0;
}

form div {
    display: flex;
    flex-direction: column;
}

h1 a {
    text-decoration: none;
}

.links {
    margin-top: 16px;
    margin-bottom: 48px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 16px;
    margin-bottom: 48px;

    p {
        margin: 0;
    }

    background: var(--lt-clr-background-dark);

    padding: 16px;

    border-radius: 0.25rem;

    &__buttons {
        display: flex;
        gap: 48px;
        flex-wrap: wrap;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 16px;
    margin-bottom: 48px;

    background: var(--lt-clr-background-dark);

    padding: 16px;

    border-radius: 0.25rem;

    form {
        width: 100%;
    }

    p {
        margin: 0;
    }

    &__buttons {
        display: flex;
        gap: 48px;
        flex-wrap: wrap;
    }

    &__comments {
        display: flex;
        flex-direction: column;
        gap: 12px;

        margin-top: 16px;
        padding-top: 16px;

        border-top: 1px solid var(--lt-clr-accent);
    }

    &__comment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;

        margin-top: 16px;
        padding-top: 64px;

        border-top: 1px solid var(--lt-clr-accent);

    }

    &__tag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 12px;

        background: var(--lt-clr-background);

        padding: 0.5rem;

        border-radius: 0.25rem;

        &__selector {
            width: 100%;

            display: flex;
            flex-direction: row;

            align-items: center;
    
            gap: 12px;

            margin-bottom: 0;
    
            & > select {
                height: 35px;
            }
        }
    }
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: 12px;

    margin-top: 16px;

    border-radius: 0.25rem;

    background: var(--lt-clr-background-dark);

    padding: 16px;

    p {
        margin: 0;
    }

}